<div class="row">
  
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <mat-label>Nombre completo</mat-label>
      <input matInput placeholder="Nombre completo" >
      <mat-icon matSuffix>toc</mat-icon>

    </mat-form-field>
  </div>
  <div class="col-md-7">
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="Descripción" >
      <mat-icon matSuffix>content_paste</mat-icon>
    </mat-form-field>
   
  </div>
  <div class="col-md-1">
    
    <div class="example-button-container">
      <button mat-mini-fab color="primary" aria-label="Guardar informacion">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let e"> {{e.codigo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
      <td mat-cell *matCellDef="let e"> {{e.nombre}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> FECHA </th>
      <td mat-cell *matCellDef="let e"> {{e.fecha}} </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Selecione la pagina">
  </mat-paginator>
</div>